/* Подключенные шрифты */
/* ---------------------------------------- */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

/* Style */
/* ---------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

/* Класс контейнер, для ограничения ширины контента в блоках */
.container {
  width: 1058px;
  margin: 0 auto;
}

/* Кнопки */
/* ---------------------------------------- */

.button {
  display: inline-block;
  width: 160px;

  padding: 10px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;

  cursor: pointer;
}

.button:active {
  color: #ffffff30;
}

/* Широкая "Загрузить еще из блока быбора отелей" "Поиск гостиницы в Седоне" */
.button-wide {
  padding: 13px 0 17px;
  width: 575px;

  font-size: 20px;
  line-height: 36px;

  background-color: #83b3d3;
  border-radius: 10px;
}

.button-wide:hover {
  background-color: #68a2ca;
}

.button-wide:focus-visible {
  box-shadow: inset 0 0 0 3px #615048;
  outline: none;
}

/* Для кнопки "Подписаться" в блоке рассылки  */
.button-mailing {
  width: 200px;

  font-size: 20px;
  line-height: 26px;

  background-color: #83b3d3;
  border-radius: 0 10px 10px 0;
}

.button-mailing:hover {
  background-color: #68a2ca;
}

.button-mailing:focus-visible {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #615048;
  outline: none;
}

/* Смена цвета кнопки */
.button-blue {
  background-color: #83b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #615048;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #615048;
  outline: none;
}

/* Смена цвета кнопки */
.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus-visible {
  background-color: #6c9e42;
  box-shadow: inset 0 0 0 3px #615048;
  outline: none;
}

/* Смена цвета кнопки */
.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

/* Для кнопки "Применить" в блоке фильтров  */
.button-filter {
  margin-left: auto;
}

.button-filter:hover {
  box-shadow: none;
  outline: none;
}

.button-filter:focus-visible {
  box-shadow: inset 0 0 0 3px #ffffff;
  outline: none;
}

/* Для кнопки "Сбросить" в блоке фильтров  */
.button-reset {
  margin: 5px 20px 0;
  width: 120px;
  padding: 5px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;

  background-color: transparent;
}

.button-reset:hover {
  color: #ffffff60;
}

.button-reset:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

/* Маленькие кнопки для выбора номера страницы с отелями */
.button-mini {
  display: inline-block;
  min-width: 56px;
  padding: 15px 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 4px;

  cursor: pointer;
}

.button-mini:hover {
  background-color: #68a2ca;
}

.button-mini:focus-visible {
  background-color: #68a2ca;

  box-shadow: inset 0 0 0 3px #615048;
  outline: none;
}

.button-mini:active {
  color: #ffffff30;

  background-color: #68a2ca;
}

/* Цвет маленькой кнопки */
.button-mini-inactive,
.button-mini-inactive:hover {
  color: #000000;

  background-color: #e5e5e5;
}

/* Блок Навигации */
/* ---------------------------------------- */
.page-header {
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
}

.navigation-list-left {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  padding: 0;
  margin-left: -17px;
  align-items: center;
}

.navigation-list-right {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 19px 17px 20px 17px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

.navigation-link-current:before {
  position: absolute;
  right: 17px;
  left: 18px;
  bottom: -1px;
  height: 2px;

  background-color: #756257;

  content: '';
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  color: #756257;

  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-link:active {
  color: #75625730;

  box-shadow: none;
}

.navigation-link-icon {
  position: relative;
  display: block;
  padding: 19px 17px 20px 17px;

  cursor: pointer;
}

.navigation-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  fill: #000000;
}

.navigation-favourits-count {
  position: absolute;
  top: 0;
  left: 21px;

  width: 19px;
  height: 19px;

  font-size: 10px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  text-align: center;

  border-radius: 50%;
  background-color: #7db550;
}

.navigation-link-icon:hover .navigation-icon {
  fill: #756257;
}

.navigation-link-icon:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-link-icon:focus-visible .navigation-icon {
  fill: #756257;
}

.navigation-link-icon:active .navigation-icon {
  fill: #75625730;
}

.navigation-link-icon:active .navigation-favourits-count {
  color: #ffffff30;
}

.navigation-list-right .navigation-link {
  width: 20px;
  height: 20px;
  padding: 8px;
  margin-right: 4px;

  color: #637d85;
}

.navigation-item-right:last-child {
  margin-left: 24px;
}

.logo-link {
  margin-bottom: -9px;
  width: 138px;
  height: 70px;

  background-image: url(../images/header/logo-sedona.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Блок WELCOME */
/* ---------------------------------------- */
.welcome {
  position: relative;

  padding: 51px 0 82px;

  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-title {
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-suptitle {
  margin: 0 0 5px;

  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.welcome-logo {
  margin: 0 auto;
}

.welcome-text {
  padding: 63px 0;
  margin: 0 auto;
  width: 720px;
}

.welcome-decor-bottom {
  position: absolute;
  bottom: 0;

  background-image: url('../images/backgrounds/bottom-background.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 57px;
}

/* Блок Карточек */
/* ---------------------------------------- */

.card-item {
  min-height: 384px;
}

.card {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.description-card {
  display: flex;
  align-items: center;

  text-align: center;
}

.description-photo {
  display: block;
  width: 800px;
}

.description-image {
  grid-column: span 2;
}

.description-title {
  margin: 0 auto 25px;
  width: 172px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-suptitle {
  margin: auto 0 25px;

  line-height: 21px;
}

.description-suptitle:last-child {
  margin-bottom: 0;
}

.description-suptitle-w170 {
  width: 170px;
}

.description-suptitle-w220 {
  width: 220px;
}

.description-suptitle-w230 {
  width: 230px;
}

.card-type-1 {
  color: #ffffff;

  background-color: #83b3d3;
}

.card-type-2 {
  background-color: #83b3d31f;
}

.card-type-3 {
  background-color: #83b3d333;
}

.card-icon {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 20px;
}

.card-icon-home {
  background-image: url(../images/card-index/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-icon-food {
  background-image: url(../images/card-index/icon-food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-icon-gift {
  background-image: url(../images/card-index/icon-gift.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-text {
  padding: 50px 0;
  display: inline-block;
  margin: 0 auto;
}

li {
  padding: 0;
}

/* Блок поиска гостинниц */
/* ---------------------------------------- */
.search {
  padding: 91px 0;
  width: 720px;
  margin: 0 auto;

  text-align: center;
}

.search-title {
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0 0 73px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Блок подписки на рассылку */
/* ---------------------------------------- */
.mailing {
  display: inline-block;
  width: 100%;
  padding: 94px 0;

  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background-mailing.jpg');
}

.mailing-mod {
  padding: 64px 0 94px;

  text-align: center;
  color: #000000;
}

.mailing-title {
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mailing-subtitle {
  margin: 0 auto 26px;

  font-size: 22px;
  line-height: 26px;
}

.mailing-field {
  padding: 0 0 0 22px;
  width: 578px;
  min-height: 60px;

  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.mailing-field:hover {
  background-color: #e6e6e6;
}

.mailing-field:focus {
  background-color: #e6e6e6;

  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.mailing-field:active {
  background-color: #ffffff;

  box-shadow: inset 0 0 0 3px #000000;
  outline: none;
}

.mailing-field:invalid {
  box-shadow: inset 0 0 0 3px #ff5757;
  outline: none;
}

.mailing-form {
  margin: 0 auto;
  display: flex;
  width: 800px;
}

.mailing-text {
  width: 500px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* Футер */
/* ---------------------------------------- */

.page-footer {
  padding: 40px 0;
}

.footer-content {
  width: 1058px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer-contacts-phone {
  display: block;
  padding: 10px 2px;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus-visible {
  color: #756257;

  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-contacts-phone:active {
  color: #75625730;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  align-items: center;
}

.footer-button {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;
  padding: 10px;

  cursor: pointer;
}

.footer-social {
  margin-left: -10px;
}

.footer-social,
.footer-copyright {
  width: 300px;
}

.copyright-button {
  float: right;

  cursor: pointer;
}

.footer-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  fill: #83b3d3;
}

.footer-button:hover .footer-icon {
  fill: #68a2ca;
}

.footer-button:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-button:focus-visible .footer-icon {
  fill: #68a2ca;
}

.footer-button:active .footer-icon {
  fill: #68a2ca30;
}

.copyright-icon {
  padding: 5px;
  margin: auto;

  fill: #000000;
}

.copyright-button:hover .copyright-icon {
  fill: #756257;
}

.copyright-button:focus-visible .copyright-icon {
  fill: #756257;
}

.copyright-button:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.copyright-button:active .copyright-icon {
  fill: #75625730;
}

/* Блок с фильтрами */
/* ---------------------------------------- */

.inner-header-title {
  margin-bottom: 5px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filter {
  display: flex;
  padding: 35px 0 86px;

  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter-check {
  display: block;
  padding: 0;
  justify-content: space-between;

  border: none;
}

.catalog-filter-check:nth-child(1) {
  width: 211px;
}

.catalog-filter-check:nth-child(2) {
  width: 317px;
}

.catalog-filter-check:nth-child(3) {
  width: 317px;
}

.catalog-filter-check:nth-child(4) {
  width: 211px;
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-button {
  width: 170px;
}

.catalog-filter-input {
  width: 70px;
}

.catalog-filter-button {
  margin-top: 60px;

  text-align: end;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 5px 0 45px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 26px;

  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item-icon {
  position: relative;
}

.breadcrumbs-item::before {
  position: absolute;
  left: 22px;
  top: 7px;

  width: 6px;
  height: 8px;

  background-image: url('../images/other/Direction.svg');
  background-repeat: no-repeat;
  fill: #6c9e42;

  content: '';
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  color: #ffffff60;
}

.breadcrumbs-link:active {
  color: #ffffff30;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: #ffffff60;
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: #ffffff30;
}

/* Блок сортировки  */
/* ---------------------------------------- */
.sort-block {
  display: flex;
  align-items: center;
  padding: 50px 0 45px;
}

.sort-block-item {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.sort-block-buttons {
  display: flex;
  justify-content: flex-end;
}

.sort-text-search {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-block-align {
  align-items: center;
}

.select-control {
  display: block;
  padding: 13px 70px 14px 19px;

  font-size: 18px;
  line-height: 23px;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
}

.select-control:hover,
.select-control:focus-visible {
  border-color: #83b3d3;
}

.select-control:active {
  color: #333333;

  border-color: #e5e5e5;
}

.button-sort {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;

  cursor: pointer;
}

.button-sort:hover,
.button-sort:focus-visible {
  border-color: #83b3d3;
}

.button-sort-active {
  border-color: #000000;

  pointer-events: none;
  cursor: none;
}

.button-sort:last-child {
  margin-right: 0;
}

.button-sort-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  fill: #000000;
}

/* Блок с карточками гостиниц  */
/* ---------------------------------------- */

.hotels-card {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e6e6e6;
}

.hotels-card:first-child {
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.hotels-card:last-child {
  margin-bottom: 0;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-rate {
  display: inline-block;
  width: 160px;
  margin: auto 0 0;
  padding: 10px 0;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-link:hover .hotels-card-title {
  color: #756257;
}

.hotels-card-link:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.hotels-card-link:active .hotels-card-title {
  color: #75625730;
}

.hotels-image {
  display: block;
}

.hotels-card-image:hover .hotels-image {
  opacity: 0.6;
}

.hotels-card-image:focus-visible {
  outline: 3px solid #83b3d3;
}

.hotels-card-image:active .hotels-image {
  opacity: 0.3;
}

.hotels-stars {
  margin: 0 auto;
  display: flex;
  height: 20px;
}

.hotels-stars-item {
  background-image: url('../images/hotels/star.svg');
  background-repeat: no-repeat;
  background-position: center;

  width: 18px;
  height: 18px;
  margin-right: 7px;
}

.hotels-stars-item:last-child {
  margin-right: 0;
}

.hotels-card-info {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.hotels-buttons {
  margin-top: auto;
}

.hotels-buttons .button + .button {
  margin-left: 4px;
}

.hotels-card-status {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-left: auto;
}

.hotels-download {
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;

  text-align: center;
}

.hotels-block-type {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

/* Блок со страницами */
/* ---------------------------------------- */

.page-num {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.quantity-title {
  margin-right: 51px;
}

.quantity-hotels {
  display: flex;
  align-items: center;
}

.quantity-select {
  width: 160px;
  height: 48px;

  padding-left: 17px;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
}

.quantity-select:hover,
.quantity-select:focus-visible {
  border-color: #83b3d3;
}
