/* Подключенные шрифты */
/* ---------------------------------------- */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

/* Style */
/* ---------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

/* Класс контейнер, для ограничения ширины контента в блоках */
.container {
  width: 1058px;
  margin: 0 auto;
}

/* Кнопки */
/* ---------------------------------------- */

/* Для тегов a */
.button-a {
  display: inline-block;
  width: 160px;

  padding: 10px 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
}

/* Для тегов button */
.button-b {
  display: inline-block;
  width: 160px;

  padding: 10px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #83b3d3;
  color: #ffffff;
}

/* Смена цвета кнопки */
.button-blue {
  background-color: #83b3d3;
}

/* Смена цвета кнопки */
.button-green {
  background-color: #7db54f;
}

/* Широкая "Загрузить еще из блока быбора отелей" "Поиск гостиницы в Седоне" */
.button-wide {
  padding: 13px 0 17px;
  width: 575px;

  font-size: 20px;
  line-height: 36px;
}

/* Для кнопки "Подписаться" в блоке рассылки  */
.button-mailing {
  width: 200px;

  font-size: 20px;
  line-height: 26px;
}

/* Для кнопки "Применить" в блоке фильтров  */
.button-filter {
  margin-left: auto;
}

/* Для кнопки "Сбросить" в блоке фильтров  */
.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;

  background-color: transparent;
}

/* Маленькие кнопки для выбора номера страницы с отелями */
.button-mini {
  display: inline-block;
  min-width: 56px;
  padding: 15px 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
}

/* Цвет маленькой кнопки */
.button-mini-inactive {
  color: #000000;

  background-color: #e5e5e5;
}

/* Блок Навигации */
/* ---------------------------------------- */
.page-header {
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  margin: 0 auto 0px auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  padding: 0;
}

.navigation-item-left {
  margin-right: 33px;
}

.navigation-user {
  justify-content: flex-end;
}

.navigation-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 23px 10px;

  color: #637d85;

  border: 1px solid green;
}

.navigation-active-border {
  border-bottom: 2px solid #756257;
  margin-bottom: -2px;
}

.logo-link {
  margin-bottom: -9px;
}

.navigation-item-right .button-a {
  margin: 14px 0 10px;
}

/* Блок WELCOME */
/* ---------------------------------------- */
.welcome {
  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-title {
  margin: 63px 0 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-suptitle {
  margin: 23px 0 79px;

  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.welcome-logo {
  margin: 51px auto 82px;
}

.welcome-text {
  margin: 0 auto;
  width: 720px;
}

/* Блок Карточек */
/* ---------------------------------------- */
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description-card {
  padding: 0;
  width: 400px;
  min-height: 384px;

  text-align: center;
}

.description-photo {
  display: block;
  width: 800px;
}

.description-title {
  margin: 98px 0 25px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-suptitle {
  margin: 25px 0 25px;

  line-height: 21px;
}

.card-type-1 {
  color: #ffffff;

  background-color: #83b3d3;
}

.card-type-2 {
  background-color: #83b3d31f;
}

.card-type-3 {
  background-color: #83b3d333;
}

.card-text {
  display: inline-block;
  margin: 0 auto;
  width: 220px;
}

li {
  padding: 0;
}

/* Блок поиска гостинниц */
/* ---------------------------------------- */
.search {
  width: 720px;
  margin: 0 auto;

  text-align: center;
}

.search-title {
  margin: 91px 0 15px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 15px 0 73px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-link {
  margin: 73px 0 91px;
}

/* Блок подписки на рассылку */
/* ---------------------------------------- */
.mailing {
  display: inline-block;
  width: 100%;

  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background-mailing.jpg');
}

.mailing-mod {
  text-align: center;
  color: #000000;
}

.mailing-title {
  margin: 94px 0 15px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mailing-subtitle {
  margin: 15px 0 26px;

  font-size: 22px;
  line-height: 26px;
}

.mailing-field {
  border: none;
  padding: 0 0 0 22px;
  width: 578px;
  min-height: 60px;

  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
}

.mailing-form {
  margin: 26px auto 94px;
  display: flex;
  width: 800px;
}

.mailing-text {
  width: 500px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* Футер */
/* ---------------------------------------- */

.footer-content {
  width: 1058px;
  display: flex;
  margin: 40px auto 30px;
  justify-content: space-between;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-social-list {
  display: flex;
  min-height: 40px;
  align-items: center;
}

.footer-button {
  padding: 1px;
  border: 1px solid green;
}

.footer-social,
.footer-copyright {
  width: 300px;
}

.copyright-button {
  float: right;
}

.footer-social-item {
  margin-right: 30px;
}

/* Блок с фильтрами */
/* ---------------------------------------- */

.inner-header-title {
  margin: 35px 0 5px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filter {
  display: flex;

  color: #ffffff;

  background-color: cadetblue;
  background-image: url('../images/backgrounds/background-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter-check {
  display: block;
  width: 100%;
  padding: 0;

  border: none;
}

.catalog-filter {
  margin: 45px auto 86px;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  justify-content: space-between;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-price {
  width: 300px;
}

.catalog-filter-button {
  width: 170px;
}

.catalog-filter-input {
  width: 144px;
}

.catalog-filter-button {
  margin-top: 60px;
  text-align: end;
  width: 100%;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 5px 0 45px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

/* Блок сортировки  */
/* ---------------------------------------- */
.sort-block {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  min-height: 134px;
  align-items: center;
}

.sort-block-item {
  width: 100%;
}

.sort-text-search {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px 0 45px;
}

.sort-block-align {
  align-items: center;
}

/* Блок с карточками гостиниц  */
/* ---------------------------------------- */
.hotels-card {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e6e6e6;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotels-card-rate {
  display: inline-block;
  width: 160px;
  margin: auto 0 0;
  padding: 10px 0;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

.hotels-image {
  display: block;
}

.hotels-stars {
  width: 160px;
  height: 20px;
}

.hotels-stars-item {
  background-image: url('../images/hotels/star.svg');
  background-repeat: no-repeat;
}

.hotels-card-info {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.hotels-buttons {
  margin-top: auto;
}

.hotels-card-status {
  flex-direction: column;
  display: flex;
  min-height: 100%;
  margin-left: auto;
}

.hotels-download {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;

  text-align: center;
}

.hotels-block-type {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

/* Блок со страницами */
/* ---------------------------------------- */
.page-num {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.quantity-title {
  margin-right: 51px;
}

.quantity-hotels {
  display: flex;
  align-items: center;
}

.quantity-select {
  width: 160px;
  height: 48px;

  padding-left: 17px;
}
