/* Подключенные шрифты */
/* -------------------- */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Style */
/* -------------------- */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

/* Кнопки */
/* -------------------- */
/* Общая кнопка коричневого цвета */
.button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
}
/* Кнопка "Загрузить ещё" со страницы hotels */
.download-button {
  font-size: 20px;
  color: #ffffff;

  background-color: #83b3d3;
}
/* Кнопка "Подписаться" */
.mailing-button {
  font-size: 20px;
  color: #ffffff;

  background-color: #83b3d3;
}
/* Кнопка "Избранного" голубая со страницы hotels */
.button-favourits-blue {
  background-color: #83b3d3;
}
/* Кнопка "Избранного" зеленая со страницы hotels */
.button-favourits-green {
  background-color: #7db54f;
}
/* Кнопка выбора страниц со страницы hotels */
.button-search-link {
  padding: 5px;

  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  background-color: #83b3d3;
}

/* Блок Навигации */
/* -------------------- */
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

/* Блок WELCOME */
/* -------------------- */
.welcome {
  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url("../images/backgrounds/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-text {
  line-height: 36px;
  text-align: center;
}
.welcome-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome-suptitle {
  font-size: 22px;
}

/* Блок Карточек */
/* -------------------- */
.description-card {
  text-align: center;
}
.description-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.description-suptitle {
  font-size: 18px;
  line-height: 21px;
}
.card-type-1 {
  color: #ffffff;

  background-color: #83b3d3;
}
.card-type-2 {
  background-color: #83b3d31f;
}
.card-type-3 {
  background-color: #83b3d333;
}

/* Блок поиска гостинниц */
/* -------------------- */
.search {
  text-align: center;
}
.search-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.search-subtitle {
  font-size: 22px;
  color: #333333;
}
.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* Блок подписки на рассылку */
/* -------------------- */
.mailing {
  text-align: center;
  color: #ffffff;

  background-color: cadetblue;
  background-image: url("../images/backgrounds/background-mailing.jpg");
}
.mailing-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.mailing-subtitle {
  font-size: 22px;
}
.mailing-field {
  font-size: 18px;
}

/* Футер */
/* -------------------- */
.footer-contacts-phone {
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

/* Блок с фильтрами */
/* -------------------- */
.filter {
  color: #ffffff;

  background-color: cadetblue;
  background-image: url("../images/backgrounds/background-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumbs-item {
  font-size: 16px;
}
.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
}
.control-label,
.catalog-filter-input {
  font-size: 18px;
}
.sort-text-search {
  font-size: 30px;
  text-transform: uppercase;
}
.select-control {
  font-size: 18px;
}

/* Блок с карточками гостиниц  */
/* -------------------- */
.hotels-card-link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.hotels-type,
.hotels-card-price {
  font-size: 18px;
}
.hotels-card-rate {
  font-size: 16px;

  background-color: #f2f2f2;
}
.hotels-stars-item {
  background-image: url("../images/hotels/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}
